img{
	height:200px;
}
.k1{
	position:absolute;
	left:1000;
	top:500;
	animation-name: border;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.k4{
	position:absolute;
	left:0;
	top:400;
	animation-name: fly;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.k2{
	position:absolute;
	left:220;
	top:100;
	animation-name: fly;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.k3{
	position:absolute;
	left:0;
	top:50;
	animation-name: fly2;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes border{
	0%{
		left:1000;
	}
	100%{
		left:0;
	}
}
@keyframes fly{
	0%{
		left:0;
	}
	100%{
		left:1000;
	}
}
@keyframes fly2{
	0%{
		left:220;
	}
	100%{
		left:1000;
	}
}