.page-body :: after{
	display:block;
	clear:both;
}
header{
	float:left;
	width:100%;
	height:400px;
	background-color: yellow;
}
.logo{
	position:absolute;
	left:120px;
	top:60px;
}
.header-menu{
	position:absolute;
	border-collapse:separate;
	border-spacing:40px 0px;
	left:410px;
	top:80px;
}
.header-menu-td{
	font-size:18px;
}
h1{
	text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
	position:absolute;
	top:210px;    
	left:120px;
}
.navigation{
	position:absolute;
	left:70px;
	top:310px;
	border-collapse:separate;
	border-spacing:50px 0px;
}
.navigation-td{	
	font-size:12px;
	text-transform: uppercase;
}
.content{
    float:left;
	width:45%;
	position:relative;
	left:40%;
}
.schoolguide{
	border-collapse:separate;
	border-spacing:35px 24px;
}
.schoolguide-td{
	font-weight: bold;
	text-transform:uppercase;
	font-size:18px;
}
h3{
	text-transform:uppercase;
	margin-bottom:24px;
}
.h3{
	margin-top:48px;
}
hr{
	margin:48px;
}
.schedule{
	border: 1px solid grey;
	border-collapse: collapse;
    font-size: 20px;
	margin-bottom:70px;	
}
.schedule-td{
	border: 1px solid grey;
}
.schedule-tr1{
	font-weight:bold;
	background:#efefef;
	text-transform:uppercase;
}
h2{
	position:absolute;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    left:-340px;
    top:545px;
}
.h2{
	left:-340px;
	top: 30px;
}
footer{
	float:left;
	width:100%;
	background-color:black;
	height:400px;
}
.footer-menu-td{
	color:white;
}
.footer-menu-td1{
	color:yellow;
}
.footer-menu{
	border-collapse:separate;
	border-spacing:40px 15px;
	position:absolute;
	left:570px;
	top:1560px;
}
.p{
	color:white;
}
.p1{
	width:209px;
	position:absolute;
	top:1648px;
	left:320px;
}
.p2{
	position:absolute;
	top:1730px;
	left:320px;
}
.p3{
	position:absolute;
	top:1730px;
	left:610px;
}
.logo-footer{
	width:180px;
	position:absolute;
	top: 1580px;
	left:320px;
}