.flags{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	grid-gap: 60px;	
}
.flag1{
   border: 2px solid #d1d1d1;
	background: linear-gradient(to right, #009b48 33%, #ffffff 30%, #ffffff 66%, #ff7900 10%); 
	width: 270px;
	height: 180px;
}
.flag2{
   border: 2px solid #d1d1d1;
	background: linear-gradient(45deg, #ce1127 40%, #fdf7f6 30%, #fdf7f6 42%, #000000 10%, #000000 58%, #fdf7f6 30%, #fdf7f6 60%, #ce1127 40%);
	width: 270px;
	height: 180px;
}
.flag3{
   border: 2px solid #d1d1d1;
	background: linear-gradient(135deg, #009543 40%, #fcde4a 40%, #fcde4a 60%, #db241e 60%);
	width: 270px;
	height: 180px;
}
.flag4{
   border: 2px solid #d1d1d1;
	background: linear-gradient(#eb2838 25%, #1a206e 25%, #1a206e 50%, #fed501 50%, #fed501 75%, #00a551 75%);
	width: 270px;
	height: 180px;
}
.flag5{
   border: 2px solid #d1d1d1;
	background: linear-gradient(#449ed3 30%, #fffdfe 30%, #fffdfe 35%, #000000 35%, #000000 65%, #fffdfe 65%, #fffdfe 70%, #449ed3 70%, #449ed3 100%);
	width: 270px;
	height: 180px;
}
.flag6{
   border: 2px solid #d1d1d1;
  background: linear-gradient(to right, #fff 35%, #fc3e32 35%),
    linear-gradient(to right, #fff 35%, #017e3a 35%);
  background-repeat: no-repeat;
   background-size: 270px 90px;
  background-position: top left, 0 90px;  
	width: 270px;
  height: 180px;
   
}