
.animation{
	border:2px solid black;
	width:500px;
	height:500px;
	border-radius:250px;
	margin:0 auto;
}
.pinion1{
	position:relative;
	top:0px;
	left:110px;
	animation-name: Movement1;
	animation-duration:50s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.pinion2{
	position:relative;
	top:148px;
	left:-240px;
	animation-name: Movement1;
	animation-duration:32s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-direction: reverse;
}
.pinion3{
	position:relative;
	top:100px;
	left:190px;
	animation-name: Movement1;
	animation-duration:15s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes Movement1{
	
    to {transform:rotate(-360deg)}
}
.ticker{
	height:680px;
	width:340px;
	position:relative;
	left:100px;
	top:100px;
	animation-name: tick;
	animation-duration:15s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	transform-origin:50% 0 0;
}
@keyframes tick{
	
    to {}
	25%{transform:rotate(50deg)}
	50%{transform:rotate(0deg)}
	75%{transform:rotate(-50deg)}
	100%{transform:rotate(0deg)}
}
.second{
	position:relative;
	top:-1040px;
	left:250px;
	animation-name: second;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	transform-origin:0 100% 0;
}
.minute{
	position:relative;
	top:-1040px;
	left:250px;
	animation-name: second;
	animation-duration:60s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	transform-origin:0 0 0;
}
.hour{
	position:relative;
	top:-1250px;
	left:250px;
	animation-name: second;
	animation-duration:720s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	transform-origin:0 0 0;
}
@keyframes second{
	to {transform:rotate(360deg)}
}