form{
	position:absolute;
	top:50%;
	left:50%;
	border:2px solid gray;
	box-shadow:5px 5px #edeef0;
}
.check input{
	display:none;
}
label{
	margin-bottom:10px;
	font-size:25px;
	margin:20px;
}
label:before{
	content:" ";
	display: inline-block;
	margin-right:10px;
	width:15px;
	height:15px;
	border:2px solid gray;
	background-color:white;
}
.check input:checked ~ label:before {
	content:" 󠄁";
	display:inline-block;
	margin-right:10px;
	width:7px;
	height:15px;
	border:2px solid white 	;
	color:white;
	box-shadow: 2px 3px blue;
	transform: rotate(45deg);
	transition: 0.3s;
}
