.page-body{
	display:table;
	width:100%;
	height:100%;
}
header{
	display:table-row;
	height:400px;
	background-color: yellow;
}
main{
	display:table;
	width:100%;
	height:100%;
}
.box{
	display:table-cell;
	
}
.left{
	width:40%;

}
.right{
	width:60%;
}
.logo{
	position:absolute;
	left:120;
	top:60;
}
.menu{
	display:table;
	position:absolute;
	left:450;
	top:80;
}
.menu-td{
	display:table-cell;
}
.menu-item{
	margin-right:40px;
	font-size:18px;
}
h1{
	text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
	position:absolute;
	top:210;
    left:120;

}
.navigation{
	display:table;
	position:absolute;
	left:120;
	top:310;
}
.navigation-td{
	display:table-cell;
}
.navigation-item{
	margin-right:50px;
	font-size:12px;
	text-transform: uppercase;
}
p{
	font-size:22
}
.schoolguide{
	display:table;
}
.schoolguide-td{
	display:table-cell;
}
.schoolguide-item{
	    font-weight: bold;
		text-transform:uppercase;
		margin-top:15;
		margin-left:20;
}
h3{
	text-transform: uppercase;
    font-size:24;
	font-weight:bold;
	margin-top:48;

}
.h31{
	margin-top:68;
}
hr{
	margin-top:48;
}
.schedule{
	display:table;
	border: 1px solid grey;
	border-collapse: collapse;
    font-size: 20px;
	margin-bottom:70px;	
}
.schedule-tr{
	display:table-row;
}
.schedule-td{
	display:table-cell;
	border: 1px solid grey;
	padding: 5px 10px;
}
.tt{
	border: 1px solid grey;
	padding: 5px 10px;
    font-weight:bold;
	background:#efefef;
	text-transform:uppercase;
}
h2{
	
	text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.h21{
	position:absolute;
	left:150;
	top:450;
	
}
.h22{
	position:absolute;
	left:150;
	top:750;
}
footer{
	display:table-row;
	background-color: black;
	height:500;
	width:100%;
}
.footer-menu1{
	display:table;
	position:absolute;
	top:1766;
	left:490;
	
}
.footer-menu1-td{
	display:table-cell;
	color:yellow;
}
.footer-menu1-item{
	margin-right:72;
}
.footer-menu-td{
	display:table-cell;
	color:white;
	padding:10px 30px;
	font-size:18;
}
.footer-menu{
	display:table;
	position:absolute;
	top:1800;
	left:450;
}
.footer-menu-tr{
	display:table-row;
}
.p1{
	color:white;
	position:absolute;
	width:209;
	top:1860;
	left:160;
	font-size:16;
}
.p2{
	color:white;
	position:absolute;
	font-size:16;
	top:1960;
	left:160;
}
.p3{
	color:white;
	position:absolute;
	font-size:16;
	top:1960;
	left:470
}
.logo-footer{
	position:absolute;
	left:160;
	top:1770;
}