body{
	background-color:#f7f4e7;
}
.index-grid{
	display:grid;
	grid-template-rows:auto 64px auto 200px;
	}
header{
	background: url(./шапка.JPG) no-repeat ;
	background-size: 100%;
	width:100%;
	height:330px;
}
table{
	width:100%;	
}
td{
	border:1px solid pink;
	width:271px;
	font-size:23px;
	text-align:center;
	font-family:cursive,sans-serif;
}
.box{
	width:60%;
	margin:0 auto;
	background-color:white;
}
.content{
	width:80%;
	margin:0 auto;
}
img{
	margin-top:30px;
	width:100%;
}
p{
	font-family:cursive;
}
blockquote{
	padding:15px;
	background-color:#e0f9e3;
}
.ingridients{
	border-collapse:collapse;
}
.p{   
 font-weight: 700;
}
.content-time{
	color:gray;
}
a{
	text-decoration:none;
	color:black;
}
footer{
	background-color:#eeee;
}
.lic{
	width:32px;

}
.footer{
	.footer{
	position:relative;
	top:50;
}
}