body{
	background-color:#f7f4e7;
}
.index-grid{
	display:grid;
	grid-template-rows:auto 64px auto 200px;
	}
header{
	background: url(шапка.JPG) no-repeat ;
	background-size: 100%;
	width:100%;
	height:330px;
}
table{
	width:100%;	
}
td{
	border:1px solid pink;
	width:271px;
	font-size:23px;
	text-align:center;
	font-family:cursive,sans-serif;
}
.box{
	width:90%;
	margin:0 auto;
}
.content-grid{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-template-rows:auto auto auto auto auto;
	grid-gap:30px;
	background-color:white;
	grid-gap:20px;
	padding:20px;
}
img{
	width:100%;
}
.content-text{
	font-weight:700;
	font-size:1.7em;
}
.content-time{
	color:gray;
}
p{
	font-size: 16px;
	font-family: cursive;
}
a{
	text-decoration:none;
	color:black;
}
.present{
	text-decoration:underline;
}
footer{
	background-color:#eeeeee;
	weight:100%;
}
.lic{
	width:32px;

}
.footer{
	.footer{
	position:relative;
	top:50;
}
}